body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: aqua;
}

div.app {
  height: 100vh;
  width: 100vw;
  background-color: #1F2833;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark {
  background-color: black;
  color: aqua;
}